.favimgs {
    height: 16vw;
    padding: 1px;
    position: relative;
}

.DelButton {
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0.65;
    background-color: white;
    border-width: 0px;
    border-radius: 3px;
}

.Wrap {
    position: relative;
	height:auto;
    width: auto;
    display:inline-block;

    .DelButton{display: none;}
    
    &:hover{.DelButton{display: block;}}
}